/problema01/Problema01/nbproject/private/
/problema01/Problema01/build/
/problema02/Problema02/nbproject/private/
/problema02/Problema02/build/
/problema03/JavaApplication5/nbproject/private/
/problema03/JavaApplication5/build/
/problema04/Ejercicio04/nbproject/private/
/problema04/Ejercicio04/build/
/problema05/Problema05/nbproject/private/
/problema05/Problema05/build/
